<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Introdução ao VueJS </title>
        <script src="https://unpkg.com/vue"></script>
    </head>

    <body>

        <div id="app">

            <gui-titulo titulo="Formulários"></gui-titulo>
            
            <p>Texto: {{texto}}</p>
            <p>
                <input type="text" v-model="texto"/>
            </p>
            
            <p>TextArea: {{textarea}}</p>
            
            <p style="white-space: pre-line"> {{textarea}}</p>
            
            <p>
                <textarea v-model="textarea" rows="8" cols="80"/> </textarea>
            </p>
            
            

        </div>



        <script type="text/javascript">

            //        Vue Component cria
            Vue.component('gui-titulo', {

                props: ['titulo'],
                template:'<h2>{{ titulo }}</h2>'

            });

            var app = new Vue({

                el: "#app",
                data: {
                    texto: '',
                    textarea: ''
                }
                });

        </script>
    </body>
</html>
