<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Introdução ao VueJS </title>
        <script src="https://unpkg.com/vue"></script>
    </head>

    <body>

        <div id="app">

            <gui-titulo titulo="Formulários"></gui-titulo>

            <p>Texto: {{texto}}</p>
            <p>
                <input type="text" v-model="texto"/>
            </p>
            
            

            <!--
<p>TextArea: {{textarea}}</p>

<p style="white-space: pre-line"> {{textarea}}</p>

<p>
<textarea v-model="textarea" rows="8" cols="80"/> </textarea>
</p>

-->
            <p>Checkbox</p>

            <input type="checkbox" id="aceitaTermos" v-model="termos">
            <label for="aceitaTermos">{{termos}}</label>

            <p>Multiplos Checkboxes: {{notificacoes}}</p>


            <p>
                <input type="checkbox" id="receberEmail" value="email" v-model="notificacoes">
                <label for="receberEmail">Receber e-mail</label>
                <input type="checkbox" id="receberSMS" value="sms" v-model="notificacoes">
                <label for="receberSMS">Receber SMS</label>
                <input type="checkbox" id="receberTel" value="telefone" v-model="notificacoes">
                <label for="receberTel">Receber Ligações</label>
            </p>

            <p>Radio:</p>

            <p>
                <span>Sexo: {{sexo}}</span>
                <input type="radio" id="masculino" value="M" v-model="sexo" />
                <label for="masculino">Masculino</label>
                
                <input type="radio" id="feminino" value="F" v-model="sexo" />
                <label for="feminino">Feminino</label>
                
            </p> 
            
            
            <p>
                Select {{ano}}                      
            </p>
            <p>
                <select v-model="ano">
                    <option disabled value="escolha" >Escolha o Ano</option>
                    <option  value="2017" >Ano 2017</option>
                    <option  value="2018" >Ano 2018</option>
                    <option  value="2019" >Ano 2019</option>
                
                </select>
            </p>
            
<!--            Multiplos select em Vue-->
            <p>
                MultiSelect {{cores}}                      
            </p>
            <p>
                <select multiple v-model="cores">
                    <option disabled value="escolha" >Escolha as </option>
                    <option >Azul</option>
                    <option>Verde</option>
                    <option>Vermelho</option>
                
                </select>
            </p>
            
<!--            Atrasa uma possível pesquisa para o atrasar de um botão-->
            <p>Texto com Lazy: {{busca}}</p>
            <p>
                <input type="text" v-model.lazy="busca"/>
            </p>
            
<!--            Força tipos number -->
            <p>Number: {{idade}} - Tipo = {{typeof idade}}</p>
            <p>
                <input type="number" v-model.number="idade"/>
            </p>


        </div>



        <script type="text/javascript">

            //        Vue Component cria
            Vue.component('gui-titulo', {

                props: ['titulo'],
                template:'<h2>{{ titulo }}</h2>'

            });

            var app = new Vue({

                el: "#app",
                data: {
                    texto: '',
                    textarea: '',
                    termos: true,
                    notificacoes: [],
                    sexo: null,
                    ano: null,
                    cores: ['Vermelho', 'Azul'],
                    busca: null,
                    idade: null
                }
            });

        </script>
    </body>
</html>
